@model Weather.Models.WeatherDaily.RootObject
@Html.Partial("~/Views/Weather/_Search.cshtml", ViewData["cities"])
@{
    ViewBag.Title = "у місті " + Model.City.Name;
}

<div class="pull-right">
    <button class="btn btn-default">
        @Html.ActionLink("На 3 дня", "Detail", "Weather", new { city = Model.City.Name, cnt = 3 }, null)
    </button>
    <button class="btn btn-default">
        @Html.ActionLink("На 7 днів", "Detail", "Weather", new { city = Model.City.Name, cnt = 7 }, null)
    </button>
</div>
<h2>
    Погода у місті @Model.City.Name
</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="tempTab">
            @foreach(var list in Model.List.Select((detail, indx) => new {detail, isActive = indx == 0}))
            {
                <li class="@(list.isActive ? "active" : "")">
                    <a data-target="#@list.detail.Dt" data-toggle="tab">
                        <div>@list.detail.Date.ToShortDateString()</div>
                        <div><img src="http://openweathermap.org/img/w/@(list.detail.Weather[0].Icon).png" alt="" /></div>
                        <div class="temperature">
                            <div>Макс. <span>@list.detail.Temp.Max°</span> </div>
                            <div>Мін. <span>@list.detail.Temp.Min°</span> </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="row">
            <div class="tab-content">
                @foreach (var list in Model.List.Select((detail, indx) => new { detail, isActive = indx == 0 }))
                {
                    <div class="tab-pane @(list.isActive ? "active" : "")" id="@list.detail.Dt">
                        <div class="margin-top-25">
                            <div class="col-md-6">
                                <table class="table table-striped table-bordered tempTable">
                                    <tbody>
                                    <tr>
                                        <td><img src="/Icons/night.png" alt="Ніч" /> Ніч</td>
                                        <td>@list.detail.Temp.Night °C</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Icons/morn.png" alt="Ранок" /> Ранок</td>
                                        <td>@list.detail.Temp.Morn °C</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Icons/day.png" alt="День" /> День</td>
                                        <td>@list.detail.Temp.Day °C</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Icons/eve.png" alt="Вечір" /> Вечір</td>
                                        <td>@list.detail.Temp.Eve °C</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-striped table-bordered tempTable">
                                    <tbody>
                                        <tr>
                                            <td><img src="/Icons/wind.png" alt="Вітер" /> Вітер</td>
                                            <td>@list.detail.Speed м/сек</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/Icons/clouds.png" alt="Хмарність" /> Хмарність</td>
                                            <td>@list.detail.Clouds %</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/Icons/humidity.png" alt="Вологість" /> Вологість</td>
                                            <td>@list.detail.Humidity %</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/Icons/pressure.png" alt="Тиск" /> Тиск</td>
                                            <td>@list.detail.Pressure мм</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



